@model AdoptaMascota.Models.Perrito

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<h4 style="text-align:center">Editar Informacion Perro</h4>
<hr />
<br />
<div class="row">
    <div class="background">
        <div class="col-md-4">
            <div class="form-container">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idPerro" class="control-label"></label>
                <input asp-for="idPerro" class="form-control" />
                <span asp-validation-for="idPerro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sexo" class="control-label"></label>
                <input asp-for="sexo" class="form-control" />
                <span asp-validation-for="sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label"></label>
                <input asp-for="color" class="form-control" />
                <span asp-validation-for="color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="raza" class="control-label"></label>
                <input asp-for="raza" class="form-control" />
                <span asp-validation-for="raza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adoptado" class="control-label"></label>
                <input asp-for="adoptado" class="form-control" />
                <span asp-validation-for="adoptado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
