@model AdoptaMascota.Models.Gatito

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<h4 style="text-align:center">Agregar Gatito en Adopcion </h4>
<hr />
<div class="row">
    <div class="background">
    <div class="col-md-4">
        <div class="form-container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="nombre" class="control-label"></label>
                    <input asp-for="nombre" class="form-control" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="edad" class="control-label"></label>
                    <input asp-for="edad" class="form-control" />
                    <span asp-validation-for="edad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sexo" class="control-label"></label>
                    <input asp-for="sexo" class="form-control" />
                    <span asp-validation-for="sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="adoptado" class="control-label"></label>
                    <input asp-for="adoptado" class="form-control" />
                    <span asp-validation-for="adoptado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="ListadoGatitos" asp-controller="Gatito" class="btn btn-danger">Regresar al listado de Gatitos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
